.cardbox {
  width: 340px;
  height: 334px;
  border-radius: 15px;

  border: 3px solid red;
  box-shadow: 0px 5px 25px 0px #00000014;
}

.cardbox .img {
  width: 340px;
  height: 199px;
}

.cardbox .container {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 135px;
  top: 200px;
  padding: 15px 20px 15px 20px;
  border-radius: 0px 0px 15px 15px;
  gap: 10px;
}

.cardbox .time {
  align-items: space-between;
  width: 300px;
  height: 17px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #666666;
}

.cardbox .description {
  align-items: space-between;
  width: 300px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.cardbox .date {
  align-items: space-between;
  width: 300px;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
